[Unit]
Description=SHODAN Discord bot
After=network.target

[Service]
Type=simple
WorkingDirectory=/srv/shodan
ExecStart=/srv/shodan/bin/shodan
User=shodan
Group=shodan

[Install]
WantedBy=multi-user.target
